<h1>This is landing page</h1>

<!--Ако го разкоментирате това програмата работи без проблем, тоест зарежда този html-->

<!--<a href="#/login" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Login</a>-->
<!--<a href="#/register" class="btn btn-primary active" role="button" data-bs-toggle="button"-->
<!--   aria-pressed="true">Register</a>-->
<!--<a href="#" class="btn btn-primary active" role="button" data-bs-toggle="button" aria-pressed="true">Active toggle-->
<!--  link</a>-->


<!--Ако разкоментирате този html програмата не иска да го зареди, което не разбирам откъде идва-->

<!--<html>-->
<!--<body class="app">-->
<!--<header class="app-header navbar">-->
<!--  <h1>This is header </h1>-->
<!--</header>-->
<!--<div class="app-body">-->
<!--  <div class="sidebar sidebar-show">-->
<!--    <ul class="sidebar-nav">-->
<!--      <li class="nav-title">Nav Title</li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="nav-icon cil-speedometer"></i> Nav item-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" href="#">-->
<!--          <i class="nav-icon cil-speedometer"></i> With badge-->
<!--          <span class="badge bg-primary">NEW</span>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li class="nav-item nav-group">-->
<!--        <a class="nav-link nav-group-toggle" href="#">-->
<!--          <i class="nav-icon cil-puzzle"></i> Nav dropdown-->
<!--        </a>-->
<!--        <ul class="nav-group-items">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <i class="nav-icon cil-puzzle"></i> Nav dropdown item-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#">-->
<!--              <i class="nav-icon cil-puzzle"></i> Nav dropdown item-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>-->
<!--      <li class="nav-item mt-auto">-->
<!--        <a class="nav-link nav-link-success" href="https://coreui.io">-->
<!--          <i class="nav-icon cil-cloud-download"></i> Download CoreUI</a>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link nav-link-danger" href="https://coreui.io/pro/">-->
<!--          <i class="nav-icon cil-layers"></i> Try CoreUI-->
<!--          <strong>PRO</strong>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <button class="sidebar-toggler" type="button"></button>-->
<!--  </div>-->
<!--  <main class="main">-->
<!--    &lt;!&ndash; Main content here &ndash;&gt;-->
<!--  </main>-->
<!--  <aside class="aside-menu">-->
<!--    &lt;!&ndash; Aside menu content here &ndash;&gt;-->
<!--  </aside>-->
<!--</div>-->
<!--<footer class="app-footer">-->
<!--  &lt;!&ndash; Footer content here &ndash;&gt;-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->


<router-outlet></router-outlet>

